# downloads (do these separtely!)
/polkadot
/oak-collator
/moonbeam
/zombienet-linux-x64
/zombienet

# dependencies
node_modules

# secrets and local setup
.env
.local-setup

# yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
## .gitignoring .yarn.lock so that npm/ pnpm is primary install method. Remove or just use npm if problems
yarn.lock

# eslint
.eslintcache

# misc
.DS_Store

# IDE
.vscode
.idea

# cli
dist
